<head>
    <title> Chess | <%= title %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
    <link href="../styles.css" rel="stylesheet">
</head>