<!DOCTYPE html>
<html>
    <%- include("./partials/head") %>

    <body>
        <p id="2test"></p>
            <p id="par">Please Enter your name below</p>
            <div id="input">
                <textarea name="username" id="username"></textarea>
                <button type="submit" id="submit">Play</button>
            <div>
    </body>

    <script src="loading.js"></script>
</html>